@import "reset-addon.css";

:root {
    --tile-size: 100px;
    --color-trans-black: #00000080;
    --color-white: #fff;
}

.viewport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-image: url(../img/arena-background.jpg);
    background-position: center;
    background-size: cover;
}

.header--frosted-bg,
.gameboard--frosted-bg,
.scoreboard--frosted-bg,
.footer--frosted-bg {
    background-color: var(--color-trans-black);
    backdrop-filter: blur(4px);
}

.header--clr-white,
.scoreboard--clr-white,
.footer--clr-white {
    color: var(--color-white);
}


.main {
    display: flex;
    align-items: center;
    gap: 150px;
    flex-grow: 1;
}

.header__text--italic {
    font-style: italic;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
}

.gameboard__tile {
    height: 100%;
    width: 100%;
}

.gameboard__tile--border-lr {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.gameboard__tile--border-tb {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.gameboard__tile--selected-p1 {
    background-color: lightcoral;
}  

.gameboard__tile--selected-p2 {
    background-color: lightblue;
}

.scoreboard__input {
    display: none;
}

.postgame-summary {
    display: none;
    position: absolute;
    font-size: 2rem;
    text-align: center;
}