@import "reset-addon.css";

:root {
    --tile-size: 100px
}

.gameboard-cntr {
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
}

.gameboard-tile {
    height: 100%;
    width: 100%;
}

.side-borders {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.vertical-borders {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.player1 {
    background-color: lightcoral;
}  

.player2 {
    background-color: lightblue;
}

input {
    display: none;
}